body {
  margin: 0 auto;
}

#container {
  width: 100vw;
  height: auto;
  /* height: 100vh; */
  max-width: 1000px;
  margin: 0 auto;
}

.interval {
  font-weight: 400;
  font-style: oblique;
}

.semitone {
  font-weight: 600;
}

.label {
  font-size: 0.7rem;
}

.title {
  font-size: 0.8rem;
}

.scale.title {
  font-weight: 500;
  font-style: oblique;
  font-size: 1rem;

}
